.c-iconDescription {
  max-width: 450px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-iconDescription img {
  height: 64px;
}

.c-iconDescription h3 {
  margin-top: 32px;
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: #2F3336;
}